<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neirx.neirdialogsdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListDialogActivity"
            android:label="@string/title_activity_message_dialog" >
        </activity>
        <activity
            android:name=".MessageDialogActivity"
            android:label="@string/title_activity_message_dialog" >
        </activity>
        <activity
            android:name=".MultiChoiceDialogActivity"
            android:label="@string/title_activity_multi_choice_dialog" >
        </activity>
        <activity
            android:name=".SingleChoiceDialogActivity"
            android:label="@string/title_activity_single_choice_dialog" >
        </activity>
        <activity
            android:name=".EditTextDialogActivity"
            android:label="@string/title_activity_edit_text_dialog" >
        </activity>
    </application>

</manifest>
